@import-normalize;
@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700,800&display=swap');

.App {
  font-family: 'Merriweather Sans', serif;
  display: flex;
  flex: 1;
  max-width: 1000px;
}
h1,
h2 {
  margin: 0;
}
* {
  box-sizing: border-box;
}
@media only screen and (max-width: 900px) {
  .App {
    flex-direction: column;
  }
  .ComponentPreview {
    min-height: 460px;
  }
}
@media only screen and (max-width: 450px) {
  div.flex-grid.two-col > * {
    width: calc(100% - 20px);
  }
  .flex-grid .Button {
    margin-top: 10px;
  }
  .ComponentPreview {
    zoom: 0.8;
  }
}
@media only screen and (max-width: 320px) {
  .ComponentPreview {
    zoom: 0.7;
  }
}