@import-normalize;
@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700,800&display=swap');

.App {
  font-family: 'Merriweather Sans', serif;
  display: flex;
  flex: 1;
  max-width: 1000px;
}
.App-mockup {
  opacity: 0.3;
  position: absolute;
}
h1,
h2 {
  margin: 0;
}
* {
  box-sizing: border-box
}
